aiofiles==0.7.0
aiohttp==3.8.5
argh==0.26.2
async-timeout==3.0.1
attrs==18.2.0
certifi==2023.7.22
chardet==3.0.4
charset-normalizer==2.0.6
httptools==0.1.0
idna==2.8
idna-ssl==1.1.0
Jinja2==3.0.1
MarkupSafe==2.0.1
multidict==5.1.0
peewee==3.14.4
pkg_resources==0.0.0
requests==2.31.0
sanic==21.12.2
sanic-jinja2==0.10.0
sanic-routing==0.7.1
typing-extensions==3.10.0.0
ujson==5.4.0
urllib3==1.26.5
uvloop==0.14.0
websockets==10.0
yarl==1.3.0
