aiofiles==0.7.0
aiohttp==3.7.4.post0
argh==0.26.2
async-timeout==3.0.1
attrs==18.2.0
certifi==2018.11.29
chardet==3.0.4
httptools==0.0.11
idna==2.8
idna-ssl==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.0
multidict==5.1.0
peewee==3.14.4
pkg-resources==0.0.0
requests==2.25.1
sanic==21.3.4
sanic-jinja2==0.10.0
sanic-routing==0.6.2
typing-extensions==3.10.0.0
ujson==1.35
urllib3==1.24.2
uvloop==0.11.3
websockets==8.1
yarl==1.3.0
