.consoleOutput {
    max-height: 90vh;
    background-color: #222;
    color: #eee;
    padding-top: 1.25rem;
    padding-right: 1.5rem;
    padding-bottom: 1.25rem;
    padding-left: 1.5rem;
}

.deleted * {
    font-style: italic;
    color: darkgrey !important;;
}

.menu-title {
    font-weight: bold;
    font-family: sans;
}

.navbar {
    border-bottom: 0.5px solid #ddd;
}