.consoleOutput {
    max-height: 90vh;
    background-color: #222;
    color: #eee;
    padding-top: 1.25rem;
    padding-right: 1.5rem;
    padding-bottom: 1.25rem;
    padding-left: 1.5rem;
    white-space: pre-wrap;
}

.deleted * {
    font-style: italic;
    color: darkgrey !important;;
}

.menu-title {
    font-weight: bold;
    font-family: sans;
}

.navbar {
    border-bottom: 0.5px solid #ddd;
}

.doneJob {
    background-color: #BCFFBC80 !important;;
}

.failureJob {
    background-color: #FCAAAA80 !important;;
}

.canceledJob {
    background-color: #FAFCAA80 !important;;
}

.runningJob {
    background-color: #D9EDF7 !important;;
}

.errorJob {
    background-color: #cccccc !important;
}

h1 small {
    font-size:  large;
    color: #888;
}

.randomJobDay {
    text-align: right;
}
