<% extends "base.html" %>

<% block content %>
<section class="section">
    <div class="container">
        <h1 class="title">Apps</h1>
        <div id="apps">
            <table class="table is-bordered is-hoverable is-striped is-fullwidth">
                <thead>
                    <th>App</th>
                    <th>Current job</th>
                    <th>Created time</th>
                    <th>Started time</th>
                    <th>End time</th>
                    <th>Commit</th>
                </thead>
                <tr v-for="(app, index) in apps" :id="app.id" v-bind:class="[app.job_state + 'Job']">
                    <td>{{app.name}} <small>{{app.app_list}}</small> <a target="_blank" v-bind:href="app.url">↪</a></td>
                    <td><a v-bind:href="'<{ relative_path_to_root }>job/' + app.job_id">{{app.job_name}} <small>#{{app.job_id}}</small></a> <span class="tag">{{app.job_state}}</span></td>
                    <td>{{timestampToDate(app.created_time)}}</td>
                    <td>{{timestampToDate(app.started_time)}}</td>
                    <td>{{timestampToDate(app.end_time)}}</td>
                    <td><a target="_blank" v-bind:href="app.url + '/commit/' + app.revision">{{app.revision.slice(0, 7)}}</a></td>
                </tr>
            </table>
        </div>
    </div>
</section>
<% endblock %>

<% block javascript %>
<script>
    (function() {
        var app = new Vue({
            el: '#apps',
            data: {
                apps: []
            },
            methods: {
                timestampToDate: function (timestamp) {
                    console.log(timestamp)
                    if (timestamp === null) return "";

                    return new Date(timestamp * 1000).toLocaleString()
                }
            }
        })

        ws = new ReconnectingWebSocket(websocketPrefix() + '://' + document.domain + ':' + location.port + websocketRelativePath('<{ path }>') + '/apps-ws');

        ws.onmessage = function (event) {
            var message = JSON.parse(event.data);
            var data = message.data;
            var action = message.action;

            if (action == "init_apps") {
                app.apps = data;
            }
        };
    })()
</script>
<% endblock %>
