<% extends "base.html" %>

<% block content %>
<section class="section">
    <div class="container">
        <h1 class="title">Tasks</h1>
        <div id="jobs">
            <table class="table is-bordered is-hoverable is-striped is-fullwidth">
                <thead>
                    <th>App</th>
                    <th>State</th>
                    <th>Revision</th>
                    <th>Ynh Version</th>
                    <th>Created time</th>
                    <th>Started time</th>
                    <th>End time</th>
                </thead>
                <tr v-for="(job, index) in jobs" :id="job.id">
                    <td><a v-bind:href="'/job/' + job.id">{{job.name}}</a></td>
                    <td>{{job.state}}</td>
                    <td>{{job.target_revision}}</td>
                    <td>{{job.yunohost_version}}</td>
                    <td>{{timestampToDate(job.created_time)}}</td>
                    <td>{{timestampToDate(job.started_time)}}</td>
                    <td>{{timestampToDate(job.end_time)}}</td>
                </tr>
            </table>
        </div>
    </div>
</section>
<% endblock %>

<% block javascript %>
<script>
    (function() {
        var app = new Vue({
            el: '#jobs',
            data: {
                jobs: []
            },
            methods: {
                timestampToDate: function (timestamp) {
                    return new Date(timestamp * 1000).toLocaleString()
                }
            }
        })

        ws = new WebSocket(websocketPrefix() + '://' + document.domain + ':' + location.port + websocketRelativePath('<{ path }>') + '/index-ws');

        ws.onmessage = function (event) {
            var message = JSON.parse(event.data);
            var data = message.data;
            var action = message.action;

            if (action == "init_jobs") {
                app.jobs = data;
            } else if (action == "update_job") {
                for (var i = 0; i < app.jobs.length; ++i) {
                    if (app.jobs[i].id == data.id) {
                        Vue.set(app.jobs, i, data);
                        return;
                    }
                }
            } else if (action == "new_job") {
                app.jobs.splice(0, 0, data);
            }
        };
    })()
</script>
<% endblock %>
