<!doctype html>
<html>
    <head>
        <title>YunoRunner for CI</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"></script>
    </head>
    <body>
        <section class="section" id="job">
            <div class="container">
                <h1 class="title">Job '{{job.name}}'</h1>

                <button v-on:click="cancelJob">Cancel job</button>

                <table class="table is-bordered">
                    <tr><th>State</th><td>{{job.state}}</td></tr>
                    <tr><th>Target revision</th><td>{{job.target_revision}}</td></tr>
                    <tr><th>YunoHost version</th><td>{{job.yunohost_version}}</td></tr>
                    <tr><th>Created time</th><td>{{timestampToDate(job.created_time)}}</td></tr>
                    <tr><th>Started time</th><td>{{timestampToDate(job.started_time)}}</td></tr>
                    <tr><th>End time</th><td>{{timestampToDate(job.end_time)}}</td></tr>
                </table>

                <h2 class="subtitle">Excution log:</h2>
                <div class="consoleOutput" v-html="logWithColors"></div>
            </div>
        </section>
    <style>
        .consoleOutput {
            background-color: #222;
            color: #eee;
            padding-top: 1.25rem;
            padding-right: 1.5rem;
            padding-bottom: 1.25rem;
            padding-left: 1.5rem;
        }
    </style>
    <script>
        (function() {
            // taken from here and adapted from https://github.com/mmalecki/ansispan/blob/9d8fa3e88cdf56ca25ebe74da0ddf438e800885a/lib/ansispan.js
            // Licence MIT
            ansispan = function (str) {
              Object.keys(ansispan.foregroundColors).forEach(function (ansi) {
                var span = '<span style="color: ' + ansispan.foregroundColors[ansi] + '">';

                //
                // `\033[Xm` == `\033[0;Xm` sets foreground color to `X`.
                //

                str = str.replace(
                  new RegExp('\033\\[' + ansi + 'm', 'g'),
                  span
                ).replace(
                  new RegExp('\033\\[01;' + ansi + 'm', 'g'),
                  span
                ).replace(
                  new RegExp('\033\\[34;' + ansi + 'm', 'g'),
                  span
                ).replace(
                  new RegExp('\033\\[00;' + ansi + 'm', 'g'),
                  span
                ).replace(
                  new RegExp('\033\\[0;' + ansi + 'm', 'g'),
                  span
                );
              });
              //
              // `\033[1m` enables bold font, `\033[22m` disables it
              //
              str = str.replace(/\033\[1m/g, '<b>').replace(/\033\[22m/g, '</b>');

              //
              // `\033[3m` enables italics font, `\033[23m` disables it
              //
              str = str.replace(/\033\[3m/g, '<i>').replace(/\033\[23m/g, '</i>');

              str = str.replace(/\033\[m/g, '</span>');
              str = str.replace(/\033\[0m/g, '</span>');
              str = str.replace(/\033\[00m/g, '</span>');
              str = str.replace(/\n/g, '<br>');
              return str.replace(/\033\[39m/g, '</span>');
            };

            ansispan.foregroundColors = {
              '30': 'black',
              '31': 'red',
              '32': 'green',
              '33': 'yellow',
              '34': 'blue',
              '35': 'purple',
              '36': 'cyan',
              '37': 'white'
            };

            var app = new Vue({
                el: '#job',
                data: {
                    job: {}
                },
                methods: {
                    timestampToDate: function (timestamp) {
                        return new Date(timestamp * 1000).toLocaleString()
                    },
                    cancelJob: function() {
                        $.post("/api/job/" + this.job.id + "/stop")
                    }
                },
                computed: {
                    logWithColors: function() {
                        if (this.job) {
                            return ansispan(this.job.log);
                        } else {
                            return "";
                        }
                    }
                }
            })

            ws = new WebSocket('ws://' + document.domain + ':' + location.port + '/job-%s-ws');

            ws.onmessage = function (event) {
                var message = JSON.parse(event.data);
                var data = message.data;
                var action = message.action;

                if (action == "init_job" || action == "update_job") {
                    app.job = data;
                }
            };
        })()
    </script>
    </body>
</html>
